.main-template {
    font-family: Arial, Helvetica, sans-serif;
    color: black;

    background-color: #006CB6;


    /* #006CB6
#F8C706
#D01114 */
}

.main-template > section {
    background-color: #F8C706;
}

.main-template > header {
    background-color: #D01114;
}
